LABEL arch
TEXT HELP
Boot the DraftOS live desktop.
Try DraftOS, then run "Install DraftOS" to install it.
ENDTEXT
MENU LABEL DraftOS (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% quiet splash loglevel=3 rd.udev.log_level=3 vt.global_cursor_default=0

# Accessibility boot option
LABEL archspeech
TEXT HELP
Boot the DraftOS live desktop with the speakup screen reader.
ENDTEXT
MENU LABEL DraftOS (%ARCH%, BIOS) with ^speech
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% accessibility=on
